<div class="internal-loading" *ngIf="isLoading; else loadingBlock" >
    <div class="spinner-conatiner">
        <div class="spinner"> A </div>
    </div>
    <div class="middle-strip">
        <h2 *ngIf="timePeriod">Professional <span>Experience</span> </h2>
        <mat-progress-bar [mode]="loaderMode" [value]="loadingValue"></mat-progress-bar>
        <div class="time" *ngIf="timePeriod">
            <div class="date">
                <label>Years</label>
                <div>{{timePeriod.years  | number:'2.0'}}</div>
            </div>
            <div class="date">
                <label>Months</label>
                <div>{{timePeriod.months  | number:'2.0'}}</div>
            </div>
            <div class="date">
                <label>Days</label>
                <div>{{timePeriod.days  | number:'2.0'}}</div>
            </div>
            <div class="time-factor">
                <label>Hours</label>
                <div>{{timePeriod.hours  | number:'2.0'}}</div>
            </div>
            <div class="time-factor">
                <label>Minitues</label>
                <div>{{timePeriod.minutes  | number:'2.0'}}</div>
            </div>
            <div class="time-factor">
                <label>Seconds</label>
                <div>{{timePeriod.seconds  | number:'2.0'}}</div>
            </div>
        </div>
    </div>
</div>
<ng-template #loadingBlock>
    <div class="loaded">
        <router-outlet></router-outlet>
    </div>

</ng-template>