:host{
    width: 100%;
    height: 100%;
}

.internal-loading{
    height: 100%;
    width: 100%;
    position: relative;
    .spinner-conatiner{

        position: absolute;
        width: 100%;
        height: calc(100% - 293px);
    }
    .middle-strip{
        position: absolute;
        bottom: 0;
        width: 100%;
        h2{
            text-align: center;
            font-size: 50px;
        }
        .time{
            width: 100%;
            text-align: center;
            .time-factor{
                color: #c4c6cc;
            }
            &>div{
                display: inline-block;
                margin: 14px 26px;
                
                &>div{
                    font-size: 140px;
                    margin-top: -44px;
                    font-weight: 600;
                }
            }
        }
    }
}
