<div class="main-conatiner">
  <div class="header col-xs-12 col-lg-12" [class.transHeader]="headerTrasparent">
    <section class="logo col-xs-2 pull-left">
      <div class="logo-cont">
        <img src="../assets/images/mylogo.png" (click)="about()" id="logo">
      </div>
    </section>
    <section class="menu pull-right col-xs-10">
      <ul>
        <li (click)="onNavigate('abt')" [class.active-menu]="menu.about">
          <a href="#about">About</a>
        </li>
        <li (click)="onNavigate('skills')" [class.active-menu]="menu.skill">
          <a href="#skills">Skills</a>
        </li>
        <li (click)="onNavigate('exp')" [class.active-menu]="menu.exp">
          <a href="#exp">Experience</a>
        </li>
        <li (click)="onNavigate('pf')" [class.active-menu]="menu.pf">
          <a href="#pf">Projects</a>
        </li>
        <li (click)="onNavigate('contact')" [class.active-menu]="menu.contact">
          <a href="#contact">Contacts</a>
        </li>
      </ul>
    </section>
    <section class="burger-menu pull-right col-xs-2">
      <button class="hamburger hamburger--emphatic" [class.is-active]="expandMenu" type="button"
        (click)="onExpandMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </section>
    <div class="mob-menu-container" [class.mm-container]="expandMenu" (click)="onExpandMenu()">
      <div class="mob-menu" [class.mob-active]="expandMenu">
        <ul>
          <li (click)="onNavigate('abt')" [class.active-menu]="menu.about">
            <a href="#about">About</a>
          </li>
          <li (click)="onNavigate('skills')" [class.active-menu]="menu.skill">
            <a href="#skills">Skills</a>
          </li>
          <li (click)="onNavigate('exp')" [class.active-menu]="menu.exp">
            <a href="#exp">Experience</a>
          </li>
          <li (click)="onNavigate('pf')" [class.active-menu]="menu.pf">
            <a href="#pf">Projects</a>
          </li>
          <li (click)="onNavigate('contact')" [class.active-menu]="menu.contact">
            <a href="#contact">Contacts</a>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <div class="banner ">
  </div>

  <div class="container">
    <section id="about" class=" section-about-us">
      <div class="my-info-container" [class.cardUp]="!cardUp">
        <div class="u-p">
          <div class="col-sm-5 col-xs-12 img">
            <img src="../assets/images/myPic.jpg" alt="">
          </div>
          <div class="col-sm-7 col-xs-12">
            <div class="profile-info">
              <div class="greetings">
                <span>Hello</span>
              </div>
              <h1 class="title">
                <span>I'm</span> Aswin KV </h1>
              <h2 class="position">Front End Developer</h2>
            </div>
            <ul class="list">
              <li class="clearfix">
                <strong class="title">Age</strong>
                <span class="cont">{{age}}</span>
              </li>
              <li class="clearfix">
                <strong class="title">FROM</strong>
                <span class="cont">Kerala, India</span>
              </li>
              <li class="clearfix">
                <strong class="title">E-mail</strong>
                <span class="cont"><a href="mailto:toaswink@gmail.com">toaswink@gmail.com</a></span>
              </li>
              <li class="clearfix">
                <strong class="title">Phone</strong>
                <span class="cont"><a href="tel:+91-956-775-3387">+91-956-775-3387</a></span>
              </li>
              <li class="clearfix">
                <strong class="title">Expirence</strong>
                <span class="cont">{{experince}}</span>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="l-p">
          <ul class="social">
            <li>
              <a href="https://github.com/aswin567" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/aswin567" target="_blank">
                <i class="fa fa-facebook-official"></i>
              </a>
            </li>
            <li>
              <a href="http://stackoverflow.com/users/6701799/aswin-kv" target="_blank">
                <i class="fa fa-stack-overflow"></i>
              </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/in/aswinkv" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/aswin_567" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/aswink" target="_blank">
                <i class="fa fa-behance"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="section-txt-btn">

        <p>
          <a class="btn btn-lg btn-border ripple" target="_blank" href="../assets/files/Aswin Front End Developer.pdf">
            Download Resume </a>
        </p>
        <p *ngIf="intro$ | async as data">{{data.intro}}</p>

      </div>
    </section>
    <section id="skills" class="section section-skills" (scroll)="onScroll($event)">
      <div class="skills-container">
        <h2 class="section-title" [class.header-up]="skillsHeaderUp">Professional Skills</h2>
        <div class="skill-box">
          <div class="col-md-6 col-sm-12" *ngFor="let skill of initSkills">
            <div class="progress-bar">
              <div class="bar-data">
                <span class="bar-title">{{skill.technology}}</span>
                <span class="bar-value">{{skill.rating}}%</span>
              </div>
              <mat-progress-bar mode="determinate" [value]="skill.rating"></mat-progress-bar>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </section>
    <section id="exp" class="section section-exp">
      <div class="exp-container timeline-cont">
        <h2 class="section-title" [class.header-up]="exHeaderUp">Work Experience</h2>
        <div class="timeline"></div>
        <div class="job-container" *ngFor="let workExperince of workExperinces$ | async; let i = index">
          <div class="job" [class.ml]="i%2 === 1  && exMarginTrans" [class.mr]="i%2 === 0 && exMarginTrans" [class.jr]="i%2 === 1" [class.jl]="i%2 === 0">
            <span class="dot"></span>
            <span class="arrow"></span>
            <div class="date">{{workExperince.startYear}}-{{workExperince.endYear}}</div>
            <h3>{{workExperince.companyName}}</h3>
            <h4>{{workExperince.role}}</h4>
            <p>{{workExperince.discription}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>
    <section id="edu" class="section section-edu">
      <div class="edu-container  timeline-cont">
        <h2 class="section-title" [class.header-up]="edHeaderUp">Education</h2>
        <div class="timeline"></div>
        <div class="job-container" *ngFor="let educationDetail of educationDetails$ | async; let i = index">
          <div class="job" [class.ml]="i%2 === 1  && edMarginTrans" [class.mr]="i%2 === 0 && edMarginTrans" [class.jr]="i%2 === 1" [class.jl]="i%2 === 0">
            <span class="dot"></span>
            <span class="arrow"></span>
            <div class="date">{{educationDetail.startYear}}-{{educationDetail.endYear}}</div>
            <h3>{{educationDetail.companyName}}</h3>
            <h4>{{educationDetail.role}}</h4>
            <p>{{educationDetail.discription}}</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section>
    <section id="pf" class="section section-portfolio">
      <div class="portfolio-container">
        <h2 class="section-title" [class.header-up]="pfHeaderUp">Projects</h2>
        <div class="projects-container">
          <a id="demo00" href="#modal01">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr0.png" width="100%">
              </div>
            </div>
          </a>
          <a id="demo01" href="#modal-02">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr.png" width="100%">
              </div>
            </div>
          </a>
          <a id="demo02" href="#modal-03">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr2.png" width="100%">
              </div>
            </div>
          </a>
          <a id="demo03" href="#modal-04">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr3.png" width="100%">
              </div>
            </div>
          </a>
          <a id="link1" target="_blank" href="http://motobaba.com/">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr4.png" width="100%">
              </div>
            </div>
          </a>
          <a id="link2" target="_blank" href="https://www.behance.net/aswink">
            <div class="projects">
              <div class="image-container">
                <img src="../assets/images/pr5.png" width="100%">
              </div>
            </div>
          </a>
          <div class="clearfix"></div>
        </div>

      </div>
    </section>
    <section id="contact" class="section section-contacts">
      <div class="contacts-container">
        <h2 class="section-title" [class.header-up]="contactHeaderUp">Contacts</h2>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="contact-box" style="min-height: 587px;">
              <h3>Feel free to contact</h3>
              <form [formGroup]="appMasterForm" (ngSubmit)="submit()" novalidate>
                <div class="col-xs-12 input">
                  <mat-form-field class="example-full-width full-width">
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
                </div>
                <div class="col-xs-12 input">
                  <mat-form-field class="example-full-width full-width">
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                </div>
                <div class="col-xs-12 input">
                  <mat-form-field class="example-full-width full-width">
                    <input matInput placeholder="Subject" formControlName="subject">
                  </mat-form-field>
                </div>
                <div class="col-xs-12 input">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Content" matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="5" formControlName="content" class="full-width"></textarea>
                  </mat-form-field>
                </div>
                <div class="btn-cnt">
                  <button type="submit" [disabled]="appMasterForm.invalid">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
                </div>
              </form>
              <!-- <div class="msg-toster" [class.msg-toster-active]="tosterActive">
                Message send sucessfully
                <div class="close" (click)="closeToster()">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="address-box" style="min-height: 587px;">
              <ul class="address">
                <li class="clearfix">
                  <strong>E-mail</strong>
                  <span>
                    <a href="mailto:toaswink@gmail.com">toaswink@gmail.com</a>
                  </span>
                </li>
                <li class="clearfix">
                  <strong>Phone</strong>
                  <span>+91 9567 75 3387</span>
                </li>
                <li class="clearfix">
                  <strong>Landline</strong>
                  <span>+48 02 79 14 35</span>
                </li>
                <li class="clearfix">
                  <strong>Skype</strong>
                  <span>toaswink</span>
                </li>
                <li class="clearfix">
                  <strong>Address</strong>
                  <span>Kakanad, Kochi-030, Kerala, India</span>
                </li>
              </ul>
              <div class="map-container">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer></footer>
</div>


<!--DEMO01-->
<div id="modal01" class="modal-full">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-modal01 modal-close">
    <p> X</p>
  </div>
  <div class="content-container">
    <div class="modal-header">
      <div class="image-container">
        <img src="../assets/images/prHd0.png">
      </div>
      One Place App (Product)
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 prj-dis">

      <div class="content">
        <div class="discription">
          Search Force is a digital advertising technology and services company that helps enterprise businesses reach
          the right person at the right time with the most relevant message. Its works on oracle DB with java back-end
          <a class="link" href="https://searchforce.net">https://searchforce.net</a>
        </div>
        <div class="role">
          <p>Role:</p>
          <p>Front End Developer</p>
        </div>
        <div class="resp col-xs-12 col-sm-12 col-md-6 sf">
          <h5>Responsibilities</h5>
          <ul>
            <li>Development of angular 4.0 components.</li>
            <li>Front-end architecture of the application.</li>
            <li>Client side validations.</li>
            <li>Front end service calls.</li>
            <li>Development of UI reusable components.</li>
            <li>Integration of components to the application.</li>
          </ul>
        </div>
        <div class="technologies resp col-xs-12 col-sm-12 col-md-6 sf">
          <h5>Technologies</h5>
          <ul>
            <li>Angular 4</li>
            <li>HTML 5</li>
            <li>SASS</li>
            <li>Angular CLI</li>
            <li>JIRA</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--DEMO01-->
<div id="modal-02" class="modal-full">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-modal-02 modal-close">
    <p> X</p>
  </div>
  <div class="content-container">
    <div class="modal-header">
      <div class="image-container">
        <img src="../assets/images/prHd.png">
      </div>
      B2B portal
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 prj-dis">

      <div class="content">
        <div class="discription">
          Business to business portal web application for CANON. It works on Oracle DB as an online ordering system
          between partners
          and canon.
          <a class="link" href="https://portal.canon-me.com">https://portal.canon-me.com</a>
        </div>
        <div class="role">
          <p>Role:</p>
          <p>Front End Developer</p>
        </div>
        <div class="resp col-xs-12 col-sm-12 col-md-6">
          <h5>Responsibilities</h5>
          <ul>
            <li>Implementing angular 2 technology.</li>
            <li>Front end architecture of the application.</li>
            <li>Client side validations.</li>
            <li>Front end service calls.</li>
            <li>UI development.</li>
            <li>Installation and setup of Angular CLI.</li>
          </ul>
        </div>
        <div class="technologies resp col-xs-12 col-sm-12 col-md-6">
          <h5>Technologies</h5>
          <ul>
            <li>Angular 2</li>
            <li>HTML 5</li>
            <li>SASS</li>
            <li>Angular CLI</li>
            <li>Redmine</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--DEMO01-->
<div id="modal-03" class="modal-full">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-modal-03 modal-close">
    <p> X</p>
  </div>
  <div class="content-container">
    <div class="modal-header">
      <div class="image-container">
        <img src="../assets/images/prHd1.png">
      </div>
      ERP
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 prj-dis">
      <div class="content">
        <div class="discription">
          An Angular 2 web ERP application. It's the core business process management software of Kerala Cricket
          Association.
        </div>
        <div class="role">
          <p>Role:</p>
          <p>Front End Developer</p>
        </div>
        <div class="resp col-xs-12 col-sm-12 col-md-6 kca">
          <h5>Responsibilities</h5>
          <ul>
            <li>Implementing angular 2 technology.</li>
            <li>UI Development.</li>
            <li>Client side validations.</li>
            <li>Front end service calls.</li>
            <li>UI development.</li>
            <li>Installation and setup of Angular CLI.</li>
          </ul>
        </div>
        <div class="technologies resp col-xs-12 col-sm-12 col-md-6 kca">
          <h5>Technologies</h5>
          <ul>
            <li>Angular 2</li>
            <li>HTML 5</li>
            <li>SASS</li>
            <li>Angular CLI</li>
            <li>Redmine</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!--DEMO01-->
<div id="modal-04" class="modal-full">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
  <div class="close-modal-04 modal-close">
    <p> X</p>
  </div>
  <div class="content-container">
    <div class="modal-header">
      <div class="image-container">
        <img src="../assets/images/prHd2.png">
      </div>
      Test Sutra (Product)
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 prj-dis">
      <div class="content">
        <div class="discription">
          Test Sutra is an Android hybrid application developed using AngularJS and ionic framework. It is an
          application suite which
          helps organizations to streamline their testing, quality, safety inspections and verification processes.
        </div>
        <div class="role">
          <p>Role:</p>
          <p>Ui Developer</p>
        </div>
        <div class="resp col-xs-12 col-sm-12 col-md-6 bmb">
          <h5>Responsibilities</h5>
          <ul>
            <li>Fixing the front end bugs.</li>
            <li>Front end changes as per request.</li>
          </ul>
        </div>
        <div class="technologies resp col-xs-12 col-sm-12 col-md-6 bmb">
          <h5>Technologies</h5>
          <ul>
            <li>Angular JS</li>
            <li>HTML 4</li>
            <li>CSS 3</li>
            <li>Bootstrap 3</li>
            <li>Ionic</li>
            <li>Redmine</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>